<%= link_to "All interpretations", user_translations_path(requested_user) %> 
<h1>New interpretation</h1>

<%= form_for translation, url: user_translations_path(requested_user) do |i| %>
  <p>
    <%= i.label :lang %><br>
    <%= i.select("lang", $langs, selected: requested_user.last_used_lang) %>
  </p>
 
  <p>
    <%= i.label :text %><br>
    <%= i.text_area :text %>
  </p>
 
  <p>
    <%= i.submit "Get interpretation" %>
  </p>
<% end %>