<%= link_to "All interpretations", user_translations_path(requested_user) %> 
<p>Lang: <%= translation.lang %> </p>
<p>Text: <%= translation.text %> </p>
<p>Translation: <%= translation.translations %> </p>
<p>Synonyms: <%= translation.synonyms %> </p>
<p>Means: <%= translation.means %> </p>
<p>Examples: <%= translation.examples %> </p>


<p> 
  <% if can? :update, translation %>
    <%= link_to "Delete", user_translation_path(requested_user, translation), :method => :delete %> </p>
  <% end %>
</p>
