<h1>Edit My Account</h1>


<%= form_for requested_user, :url => user_path(requested_user), builder: StandardBuilder do |f| %>
  <%= f.error_messages %>
  <br />
  <%= f.label "Login" %><br />
  <%= f.text_field :login %><br />
  <br />
  <%= f.label "Avatar" %><br />
  <%= image_tag(@user.avatar_url) if requested_user.avatar? %>
  <%= f.file_field :avatar %><br />
  <%= f.hidden_field :avatar_cache %>

  <br />
  <%= f.submit "Update" %>
<% end %>
<br />
<p> ================================================================================================== </p>
<br />

<%= render 'users/password/edit' %>

