<p>
  <b>Login:</b>
  <%= current_user.login %>
</p>

<p>
  <b>Login count:</b>
  <%= current_user.login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%= current_user.last_request_at %>
</p>

<p>
  <b>Last login at:</b>
  <%= current_user.last_login_at %>
</p>

<p>
  <b>Current login at:</b>
  <%= current_user.current_login_at %>
</p>

<p>
  <b>Last login ip:</b>
  <%= current_user.last_login_ip %>
</p>

<p>
  <b>Current login ip:</b>
  <%= current_user.current_login_ip %>
</p>

<p> <%= link_to 'Dictionary', dictionary_path %> </p>
<p> <%= link_to 'Edit', edit_user_path %> </p>
<p> <%= link_to "Logout", user_session_path, :method => :delete %></p>