<h1>Welcome to dictionary!</h1>
<p>
  <p>Supported languages:</p>
	<% @langs.each do |lang| %>
    <tp> <%= "#{lang}, " %> </tp>
  <% end %>
</p>

<%= form_for :interpretation do |i| %>
  <p>
    <%= i.label :lang %><br>
    <%= i.text_field :lang %>
  </p>
 
  <p>
    <%= i.label :text %><br>
    <%= i.text_area :text %>
  </p>
 
  <p>
    <%= i.submit %>
  </p>
<% end %>