<h1>Welcome to dictionary!</h1>
<p>
  <p>Supported languages:</p>
	<% $langs.each do |lang| %>
    <tp> <%= "#{lang},\t" %> </tp>
  <% end %>
</p>

<%= form_for :interpretation do |i| %>
  <p>
    <%= i.label :lang %><br>
    <%= i.text_field :lang %>
  </p>
 
  <p>
    <%= i.label :text %><br>
    <%= i.text_area :text %>
  </p>
 
  <p>
    <%= i.submit %>
  </p>
<% end %>

<% unless @prms == nil %>
  <tp> Interpretations: </tp>
  <% @translations.each do |t| %>
    <p>
      <%= text_area_tag(:message, t.to_string, size: "60x7") %>
    </p>
  <% end %>
<% end %>

<% unless @history.size == 0 %>
  <tp> History of interpretations: </tp>
  <% @history.each do |t| %>
    <p>
      <%= text_area_tag(:message, t.to_string, size: "60x7") %>
    </p>
  <% end %>
<% end %>