<h1>Edit My Account</h1>

<%= form_for :user, :url => user_path, :method => :patch, builder: StandardBuilder do |f| %>
  <%= f.error_messages %>
  <%= f.label "Current password" %><br />
  <%= f.password_field :current_password %><br />
  <br />
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>

<br /><%= link_to "My Profile", user_path(current_user) %>
