<% if can? :update, requested_user %>
  <% unless requested_user.is_registration_confirmed %>
    <p> EMAIL NOT VERIFIED! </p>
  <% end %>
<% end %>

<p>
  <img src= <%= "#{requested_user.avatar.url}" %>>
</p>

<p>
  <b>Login:</b>
  <%= requested_user.login %>
</p>

<p>
  <b>Email:</b>
  <%= requested_user.email %>
</p>

<p>
  <b>Login count:</b>
  <%= requested_user.login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%= requested_user.last_request_at %>
</p>

<p>
  <b>Last login at:</b>
  <%= requested_user.last_login_at %>
</p>

<p>
  <b>Current login at:</b>
  <%= requested_user.current_login_at %>
</p>

<p>
  <b>Last login ip:</b>
  <%= requested_user.last_login_ip %>
</p>

<p>
  <b>Current login ip:</b>
  <%= requested_user.current_login_ip %>
</p>

<p> <%= link_to 'Dictionary', dictionary_path %> </p>
<% if can? :update, requested_user %>
  <p> 
    <%= link_to "Edit #{requested_user.login}", edit_user_path(requested_user) %> 
  </p>
<% end %>
<p> <%= link_to "Translations", user_translation_index_path(current_user) %></p>
