<h1>New interpretation</h1>

<%= form_for :interpretation, url: user_translation_index_path(current_user) do |i| %>
  <p>
    <%= i.label :lang %><br>
    <%= i.select("lang", $langs) %>
  </p>
 
  <p>
    <%= i.label :text %><br>
    <%= i.text_area :text %>
  </p>
 
  <p>
    <%= i.submit "Get interpretation" %>
  </p>
<% end %>