<p>Lang: <%= translation.lang %> </p>
<p>Text: <%= translation.text %> </p>
<p>Translation: <%= translation.translations %> </p>
<p>Synonyms: <%= translation.synonyms %> </p>
<p>Means: <%= translation.means %> </p>
<p>Examples: <%= translation.examples %> </p>

<p> <%= link_to "Delete", user_translation_path(requested_user, translation), :method => :delete %> </p>