<!DOCTYPE html>
<html>
<head>
  <title>Dictionary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user && !current_user.guest? %>
  <p> <%= link_to "My Profile", user_path(current_user) %> </p>
  <p> <%= link_to "Logout", session_path, method: :delete %> </p>
<% else %>
  <p> Please, register, or log in to save your history. </p>
  <p> <%= link_to "Login", session_path %> </p>
  <p> <%= link_to "Register", new_user_path %> </p>
<% end %>
<p><%= link_to "New interpretation", root_path %> </p>

<%= yield %>

</body>
</html>
